# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Env files
.env
.env.*

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Build
build/
dist/
